
<h1>Create a Team and Heros!</h1>
<ul>
<form action="/" method="post">
    <li>Team Name: <input type="text" name="team[name]"></li>
    <li>Team Motto: <input type="text" name="team[motto]"></li>

  <h2>Hero 1</h2>
    <li>Hero's Name: <input type="text" name="team[hero][][name]"></li>
    <li>Hero's Power: <input type="text" name="team[hero][][power]"></li>
    <li>Hero's Bigoraphy: <input type="text" name="team[hero][][bio]"></li>

  <h2>Hero 2</h2>
    <li>Hero's Name: <input type="text" name="team[hero][][name]"></li>
    <li>Hero's Power: <input type="text" name="team[hero][][power]"></li>
    <li>Hero's Bigoraphy: <input type="text" name="team[hero][][bio]"></li>

    <h2>Hero 3</h2>
      <li>Hero's Name: <input type="text" name="team[hero][][name]"></li>
      <li>Hero's Power: <input type="text" name="team[hero][][power]"></li>
      <li>Hero's Bigoraphy: <input type="text" name="team[hero][][bio]"></li>

  <input type="submit">
</form>
</ul>
