
<h1>Create a Team and Heros!</h1>
<ul>
<form action="/" method="post">
    <li>Team Name: <input type="text" name="student[name]"></li>
    <li>Team Motto: <input type="text" name="student[grade]"></li>

  <h2>Hero 1</h2>
    <li>Hero's Name: <input type="text" name="student[courses][][name]"></li>
    <li>Hero's Power: <input type="text" name="student[courses][][topic]"></li>
    <li>Hero's Bigoraphy: <input type="text" name="student[courses][][name]"></li>

  <h3>Hero 2</h3>
    <li>Hero's Name: <input type="text" name="student[courses][][name]"></li>
    <li>Hero's Power: <input type="text" name="student[courses][][topic]"></li>
    <li>Hero's Bigoraphy: <input type="text" name="student[courses][][name]"></li>

    <h4>Hero 3</h4>
      <li>Hero's Name: <input type="text" name="student[courses][][name]"></li>
      <li>Hero's Power: <input type="text" name="student[courses][][topic]"></li>
      <li>Hero's Bigoraphy: <input type="text" name="student[courses][][name]"></li>

  <input type="submit">
</form>
</ul>
